
<h1>LOGIN HERE</h1>
<div class="form">
  <form action="/login" method="POST">
    <input type="text" name="user[name]" placeholder="your username here">
    <input type="password" name="user[password]" placeholder="your password here">
    <input type="submit" value="login">
  </form>
</div>
<div class="account">
<a href="/signup">DON'T HAVE AN ACCOUNT?  SIGN UP HERE</a> | <a href="/">GO BACK</a>
</div>