
<h1>Login Here.</h1>
<form action="/login" method="POST">
  <input type="text" name="user[name]" placeholder="your username here">
  <input type="password" name="user[name]" placeholder="your password here">
  <input type="submit" value="login">
</form>

<a href="/signup">don't have an account?  sign up here!</a>
<a href="/">back button</a>