<h1>Signup Here</h1>
<form action="/signup" method= "POST">
  <input type="text" name="user[name]" placeholder="enter a username"></br>
  <input type="password" name="user[password]" placeholder="create a password"><br>
  <input type="password" name="user[password_confirmation]" placeholder="confirm your password"><br>
  <input type="submit" value="create account">
</form>
<a href="/">back button</a>