/* CSS declarations go here */
body {
    background-color: #34495e;
}

h1  {
    font-family: 'Bebas Neue';
    font-weight: 100;
    color: #fff;
    letter-spacing: 25px;
    text-align: center;
    font-size: 160px;
}
h3 {
    font-family: 'Bebas Neue';
    font-weight: 100;
    color: #ecf0f1;
    text-align: center;
    font-size: 30px;
    letter-spacing: 3px;
}
.cover  {
    font-weight: 100;
    font-family: 'Bebas Neue';
    text-align: center;
    font-size:  18px;
    color: #fff;
    letter-spacing: 5px;
}
.form {
    font-weight: 100;
    font-family: 'Bebas Neue';
    text-align: center;
}

.button {
    font-weight: 100;
    font-family: 'Bebas Neue';
    text-align: center;
    letter-spacing: 2px;
}

.account {
    font-weight: 300;
    font-family: 'Muli';
    color: #fff;
    text-align: center;
    font-size: 10px;
}
#login-toolbar {
    text-align: right;
    padding: 20px;
    font-weight: 100;
    font-family: 'Bebas Neue';
    font-size: 24px;
    letter-spacing: 3px;
}

a {
    text-decoration: none;
}

a:hover {
    color: #7f8c8d;
}

a:visited {
    color: #fff;
}

