/* CSS declarations go here */
body {
    background-color: #34495e;
}

h1  {
    font-family: 'Bebas Neue';
    font-weight: 100;
    color: #fff;
    letter-spacing: 25px;
    text-align: center;
    font-size: 160px;
}
#cover  {
    font-weight: 100;
    font-family: 'Helvetica Neue';
    text-align: center;
    font-size:  24px;
    color: #fff;
    letter-spacing: 20px;
}
.form {
    font-weight: 100;
    font-weight: 'Helvetica Neue';
    text-align: center;
}
#login-toolbar {
    text-align: right;
    padding: 20px;
    font-weight: 300;
    font-family: 'Roboto';
    letter-spacing: 5px;
}

a {
    text-decoration: none;
}

a:hover {
    color: #bdc3c7;
}

a:visited {
    color: #fff;
}

