<h3>ADD A FEAR, WORRY, OR CONCERN:</h1>
<div class="form">
  <form action="/new" type="POST">
    <input type="text" name="post[title]" placeholder="TITLE OF FEAR, WORRY, OR CONCERN">
    <input type="text" name="post[body]" placeholder="WHAT'S THE MATTER?">
    <input type="submit" value="submit">
  </form>
</div>